

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;

}


html,
body {
  overflow-x: clip;
}


.navBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 110px;
  background: white;
  position: relative;
}


.navImage img {
  width: 150px;
  margin-right: 190px;

}


.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #747474;
  font-size: 17px;
  font-weight: bolder;
}

.link:hover {
  color: black;
}

.add {
  margin-left: 250px;
  font-size: 30px;
color: whitesmoke;
  outline: none;
}


.hero1-container {
  position: sticky ;
  top: 0 ;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow-y: hidden;
}

.add-cart {
  position: relative;
}

.add-link {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.sidebar {
  display: none;
}


.hero-heading{
  text-align: left;
}


.hero-heading h1{
  width: 80%;
  margin: auto;
  line-height: 1.5;
  color: #2E2F2F;
}

.hero-heading button{
  background-color: black;
  color: white;
  width: 180px;
  height: 40px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 90px;
  border-radius: 20px;
  
}

.hero-heading button:hover{

background-color: #747474;
color: white;
}



.hero2-flex{
display: flex;
justify-content: flex-start;
align-items: center;


}

.hero2-container{
background-color: #EEEEEE;


}

.hero2-image img{
  padding-top: 30px;
}

.hero3-image img{
width: 380px;
}

.hero3-flex{
display: flex;
justify-content: center;
gap: 25px;
margin-top: 100px;
}

.hero4-image img{
width: 170px;
border-radius: 50%;

}


.hero4-flex{
display: flex;
justify-content: center;
margin-top: 50px;
gap: 30px;
}



.hero4-para p{
  text-align: center;
  font-size: 23px;
  color: #2E2F2F;
  margin-top: 20px;
  font-weight: bolder;
}

.hero4-heading h1{
text-align: center;
margin-top: 100px;
}























@media (max-width: 500px) {

  .navLinks {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: black;
    margin-left: auto;
    position: absolute;
    right: 10%
  }

  .navBar {
    height: 120px;
    position: relative;
  }

 .sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: left 0.35s ease;
  z-index: 200;
  overflow: hidden;
}

  .hero1-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    
  }

  .sidebar.open {
    left: 0;
  }

  .navImages img {
    width: 140px;
    position: relative;
    right: 10px;
    margin-top: 30px;
  }

  .navImages {
    text-align: left;
  }

  .navImage img {
    width: 140px;
    margin-right: 0;
  }


  .close-btn {
    font-size: 28px;
    align-self: flex-end;
    cursor: pointer;
    color: black;
    display: block;
    margin-right: 50px;
    color: black;
  }

  .side-link {
    text-decoration: none;
  color: #747474;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0;
  }

  .side-link:hover {
    color: black;
  }


  .add {
    font-size: 26px;
  }

  .add-cart {
    margin-left: auto;
    font-size: 23px;
    position: absolute;
    right: 27%;
    top: 50%;
    transform: translateY(-40%);
  }

  .cart-count {
    top: -13px;
    right: -10px;
    width: 18px;
    height: 18px;
    font-size: 10px;
  }

  .hero2-flex{
  flex-direction: column;
  align-items: center;
  }

  .hero-heading{
    text-align: center;
  }

  .hero-heading h1{
  font-size: 25px;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  }

  .hero-heading button{
 
  width: 60%;
  margin: auto;
  height: 50px;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 0;
  }

.hero3-flex{
flex-direction: column;
align-items: center;
margin-top: 60px;

}

.hero2-container{
height: 784px;
}

.hero3-image img{
width: 80%;
margin: auto;
}

.hero3-flex > div{
text-align: center;
}


  .hero4-flex {
 
  flex-direction: row;
  justify-content: center;
    flex-wrap: wrap;
    gap: 15px 0;
    margin-top: 40px;
  }

  .hero4-para {
    width: calc(33.33% - 15px);
    text-align: center;
 
  }

  .hero4-image img {
    width: 90px;
    height: 90px;
 
    
  }

  .hero4-para p {
    font-size: 15px;
    margin-top: 1px;
  }

  .hero4-heading h1{
  font-size: 27px;
  margin-top: 60px;
  }



}
